<div> <form class="manager-form"> <div class="row"> <div class="col-xxs-12 col-xs-4 col-sm-4"> E-mail: </div> <div class="col-xxs-12 col-xs-8 col-sm-8"> <input name="" value="{{robotModal.mname}}" required> </div> </div> <div class="row"> <div class="col-xxs-12 col-xs-4 col-sm-4"> 邀请链接: </div> <div class="col-xxs-12 col-xs-8 col-sm-8"> <span> {{robotModal.large_pic}} </span> </div> </div> </form> <!-- <div class="">
    <div class="info-left">
      E-mail:
    </div>

    <div class="info-right">
      <input value="{{robotModal.mname}}">
    </div>
  </div>

  <div class="">
    <div class="info-left">
      邀请链接:
    </div>

    <div class="info-right">
      {{robotModal.large_pic}}
    </div>
  </div> --> </div>