<div class="getCode"> <form class="code-form"> <div class="row"> <div class="col-xxs-12 col-xs-4 col-sm-4"> 上传图片: </div> <div class="col-xxs-12 col-xs-8 col-sm-8"> <input name="" value="{{robotModal.mname}}" required> </div> </div> <div class="row"> <div class="col-xxs-12 col-xs-4 col-sm-4"> 选择风格: </div> <div class="col-xxs-12 col-xs-8 col-sm-8"> <input name="" value="{{robotModal.mname}}" required> </div> </div> <div class="row"> <div class="col-xs-6 col-xs-offset-3"> <button class="cx-form-control"> 获取代码 </button> </div> </div> </form> <!-- <div class="">
    <div class="info-left">
      上传图片:
    </div>

    <div class="info-right">
      <input value="{{robotModal.mname}}">
    </div>
  </div>

  <div class="">
    <div class="info-left">
      选择风格:
    </div>

    <div class="info-right">
      <span>
        {{robotModal.mname}}
      </span>
    </div>
  </div>

  <button class="cx-form-control">
    获取代码
  </button>
--> </div>